* {
    box-sizing: border-box;

}

body {
    background: #efeee7;
    font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;      
}

h1 {
    font-size: 28px;
    background: black;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 15px;
    margin-bottom: 0;
}

h2 {
    font-size: 24px;
}

p {
    line-height: 1.5em;
}

a {
    color: #d21034;
}

li {
    text-align: left;
    padding: 5px; 
}

.container {
    width: 100%;
    position: relative;
}

.project_list {

    display: block;
    width: 15%;
    margin: 10px auto;
    text-align: center;   
}


.footer {    
    clear: both;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-top: 0;  
}



